{% extends 'base.html' %}
{% block content %}

  <h1>现在开放以下课程</h1>
  <ul>
    {% for course in course_list %}
      <li>
        <p>课程名:
          <a href="{% url 'course_detail' course.id %}">{{ course.name }}</a>
        </p>
        <p>课程简介: {{ course.detail }}</p>
        <p>执教老师：{{ course.teacher.name }}</p>
        <p>有{{ course.student_count }}位学生参与</p>
      </li>
    {% endfor %}
  </ul>

  <p>学习请
    <a href="{% url 'student_create' %}">注册</a>
     或者
    <a href="{% url 'student_login' %}">登录</a>
  </p>
{% endblock %}
