<!doctype html>
<html lang="zh_CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<a href={% url "student_login" %}>student登录</a>
<a href={% url "student_create" %}>student signup</a>
<a href={% url "student_logout" %}>student logout</a>
<a href={% url "teacher_login" %}>teacher登录</a>
<a href={% url "teacher_create" %}>teacher signup</a>
<a href={% url "teacher_logout" %}>teacher logout</a>
<a href={% url "course_list" %}>course_list</a>
</body>
</html>
