<h1>{{ teacher.name }}老师执教的课程</h1>
<ul>
  {% for course in course_list %}
    <li>
      <a href="{% url 'teacher_course_detail' teacher.id course.id %}">{{ course.name }}</a>
      : {{ course.detail }}
      <a href="{% url "course_edit" course.teacher.id course.id %}">修改</a>
      <a href="{% url "course_delete" course.teacher.id course.id %}">删除</a>
    </li>
  {% endfor %}
</ul>

<a href="{% url 'teacher_detail' teacher.id %}">返回教师详情</a>
<a href="{% url 'teacher_course_create' teacher.id %}">添加课程</a>
